i{
    font-size: 2.5rem;
}
i:hover{
    cursor: pointer;
}
i:active {
    position: relative;
    top: 5px;
}
p-card{
    min-width: 250px;
    flex-grow:1;
    max-width:200px;
}
p-card-content{
    padding: 0px;
}

h2:hover,h4:hover{
    cursor: pointer;
}