<p-card *ngIf="restaurantDetails" [header]="restaurantDetails.restaurantName">
    <div class="d-flex justify-content-center flex-column align-items-center">
        <div class="">
            <p-image [src]="restaurantDetails.logo" alt="Image" width="250" [preview]="true"></p-image>
        </div>

        <div class="d-flex align-items-center flex-column ">
            <p class="m-0">{{ restaurantDetails.email }}</p>
            <p class="m-0">{{ restaurantDetails.address }}</p>
            <p class="m-0">{{ restaurantDetails.phone }}</p>
        </div>
    </div>
</p-card>