<p-card header="NameOfRestaurant">
    <div class="col-sm-6">
        <p-image src="https://primefaces.org/cdn/primeng/images/galleria/galleria1.jpg" alt="Image" width="250" [preview]="true"></p-image>
    </div>
    <div class="row">
    <div class="col-sm-6">
        <p class="m-0">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!
        </p>
    </div>
    </div>
    <div class="d-flex justify-content-end">
    <span>
        <input type="text" [(ngModel)]="searchString" (keyup.enter)="search()" pInputText placeholder="Search for any product" class="rounded-3" />
        <i class="pi pi-search px-2" (click)="search()"></i>
    </span>
    </div>
</p-card>